<!DOCTYPE html>
<html ng-app="td" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NG ToDo</title>
    <!-- Angular JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Angular Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <!-- Angular Local Storage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.0/angular-local-storage.min.js"></script>
    <!-- Angular Xeditable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/js/xeditable.min.js"></script>
    <!-- Xeditable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.6.0/css/xeditable.min.css">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css">
    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- App -->
    <script src="js/app.js"></script>
  </head>
  <body>

    <div ng-controller="ToDoCtrl" ng-init="getTodos()" class="container">
      
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" ng-pluralize count="getTotal()"
                     when="{'0': 'You have no ToDos on your list!',
                         '1': 'You have 1 ToDo on your list',
                         'other': 'You have {} ToDos on your list'}">
          </h1>
          <p class="text-center">[Feel free to come back later, your ToDos will still be here!]</p>
        </div>
      </div> 
      

        
      <form name="toDoForm" ng-submit="addToDo()">
        <div class="row">
          <div class="col-10">
            <input name="newToDo" type="text" ng-model="newToDo" required>
          </div>
          <div class="col-2 center">
            <button class="add-btn" ng-disabled="toDoForm.$invalid">Add ToDo</button>
          </div>
        </div>
      </form>
      
      <div class="row">
        <div class="col-12">
          <div ng-repeat="todo in todos" class="todo">
            <input type="checkbox" ng-model="todo.done" ng-show="todo.title">
            <span ng-class="{'done': todo.done}" editable-text="todo.title" buttons="no" onaftersave="updateToDo()">{{todo.title || 'empty'}}</span>
            <small class="pull-right">
              <a href="" class="delete" ng-click="removeTodo($index)">Delete</a>
            </small>
          </div>      
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 text-center">
          <button ng-click="clearCompleted()" ng-show="todos.length >= 1" class="act-btn">Clear Completed</button>
          <button ng-click="clearAll()" ng-show="todos.length >= 3" class="act-btn">Clear All</button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 credit text-center">
          <p id="credit">Made With Love Using <a href="https://angularjs.org/" id="fw-link">Angular</a> By <strong>Al Mondragon</strong>. <br>
          Feel free to check it out on <a href="https://github.com/AlMon/Angular-ToDo" id="gh-link">Github!</a>
          </p>
        </div>
      </div>
      
      
      
    </div>

    
  </body>
</html>
